*.pyc
*.egg
*.so
*.swp

.auto/
.dir-locals.el
.cache/
.idea
.mypy_cache/
.pytest_cache/
.ropeproject/
.vscode/
TAGS
.tags
.tox/
.tx/
.venv/
venv/
.coverage
htmlcov
.DS_Store
distribute-*

env/
build/
dist/
docker/
tests/.coverage
tests/build/

.env
test.py
